<%- include('partials/head') %>
<h1>Welcome!</h1>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href= "/login">Login</a></li>
    <li><a href="/register">Register</a></li>
    <li><a href="/category">Category</a></li>
    <li><a href="/book">Detail Book</a></li>
    <li><a href="/cart">Cart</a></li>
</ul>
<%- include('partials/footer') %>