<%- include('partials/head') %>
<h1>Register</h1>
<p>
    <label>Username:</label>
    <input type="text" name="username" placeholder="Username"/>
</p>
<p>
    <label>Password:</label>
    <input type="password" name="password" placeholder="Password"/>

</p>
<a href="/">Back to home</a>
<%- include('partials/footer') %>